body {
  font-family: "open sans";
  margin: 0;
  padding: 0;
  background-color: #002b46;
}

.container {
  background-color: rgb(128, 128, 128);
  width: 500px;
  margin: 150px auto;
  text-align: center;
  padding: 40px;
  border-radius: 20px;
  background-color: #e8e4e6;
}

.gameText {
  color: #001e1d;
}

.gameButton {
  margin: 0 20px;
  width: 100px;
  height: 40px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  background-color: #f96072;
  color: #001e1d;
  font-size: 20px;
}